.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 5px solid;
  border-color: #00adad;
  border-radius: 15px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.35s ease-out, box-shadow 0.35s ease, border-color 0.2s ease-out;
}

.card-container:hover {
  transform: scale(.95);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0);
  border-color: #00ffff;

}
